<% include ../partials/header%>
    

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to SeattleTours!</h1>
            <p>View our hand-picked attractions from Seattle</p>
            <p>       
            <a class="btn btn-primary btn-lg" href="/attractions/new">Add New attraction!</a>
            </p> 
        </div>
    </header>
  

    <div class="row text-center" id="attraction-grid">
         <% attractions.forEach(function(attraction){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
              <img src="<%=attraction.image%>" class="card-img-top" alt="<%= attraction.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= attraction.name %></h5>
               
                <a href="/attractions/<%= attraction._id%>" class="btn btn-primary">More Info</a>
              </div>
            </div> 
    </div>
        <% }); %> 
</div>

<% include ../partials/footer%>